{% extends 'base.html.twig' %}

{% block title %}l'Atelier Barbershop Rouen{% endblock %}

{% block body %}

<section class="container-fluid serviceContainer my-5">
  <div class="row d-flex justify-content-around">
    <div class="col-10 col-lg-3 border border-primary mb-3 service">
      <h2 class="text-center">Coupe</h2>
       {% for service in services %}
         {% if service.type == "Coupe"%}
           <div class="d-flex justify-content-between">
            <span>{{ service.title }}</span>
            <span>{{service.price }}</span>
           </div>
           <span>{{ service.text }}</span>  
         {% endif %} 
       {% endfor %}  
     </div>
   <div class="col-10 col-lg-3 border border-primary mb-3 service">
      <h2 class="text-center">Barbe</h2>
       {% for service in services %}
         {% if service.type == "Barbe"%}
           <div class="d-flex justify-content-between">
              <span>{{ service.title }}</span>
              <span>{{service.price }}</span>
            </div>
           <span>{{ service.text }}</span>  
         {% endif %} 
       {% endfor %}  
     </div>
   <div class="col-10 col-lg-3 border border-primary mb-3 service">
      <h2 class="text-center">Coloration / Défrisage</h2>
       {% for service in services %}
         {% if service.type == "Coloration / Défrisage"%}
           <div class="d-flex justify-content-between">
              <span>{{ service.title }}</span>
              <span>{{service.price }}</span>
            </div>
           <span>{{ service.text }}</span>  
         {% endif %} 
       {% endfor %}  
     </div>               
</section>
 {#   <div>{{ service.imageName }} <img src="{{ asset('image/' ~ service.imageName) }}"></div>
        #}

{% for image in imag %}
{#  <div>{{ image.ImageName }} <img src="{{ asset('image/' ~ image.imageName) }}"></div>
 #} {% endfor %}
<div class="container-fluid">
    <div class="row">
        <div class="col-1 col-lg-1">
            {% for openingHours in openingHours %}
                <div>{{ openingHours.day }}</div>
            {% endfor %}
        </div>
        <div class="col-2 col-lg-2">
            {% for openingHours in openingHours %}
                <div>{{ openingHours.open }}{{ openingHours.close }}</div>
            {% endfor %}
        </div> 
    </div>           
</div>

<article class="container brandContainer">
  <h3 class="text-center my-3">Marques avec lesquelles nous travaillions et à vendre au Salon</h3>
  <div class="d-flex justify-content-evenly">
    <div><img src="{{ asset('image/logo_Keune.png') }}" alt="Notre Instagram"></a></div>
    <div><img src="{{ asset('image/logo_Davines.png') }}" alt="Notre Facebook" </a></div>  </div>
    <div><img src="{{ asset('image/logo_Reuzel.png') }}" alt="Notre Facebook"></a></div>  </div>
    <div><img src="{{ asset('image/logo.png') }}" alt="Notre Facebook"></a></div>  </div>
<article>












































{% endblock %}
