<header class="container-fluid sticky-top" id="header">
  <nav class="navbar navbar-expand-md navbar-dark" id="hiddenNavbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">l'Atelier</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#serviceContainer">Nos prestations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#informationsContainer">Nous situer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#portfolioContainer">Nos réalisations</a>
          </li>
          {# <li class="nav-item dropdown"> 
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> #}
        </ul>
      </div>
        {% for info in informations %}
        <span class="navbar-text"><a href="tel:{{ info.PhoneNumberLink }}" class="text-decoration-none">{{ info.phonenumber }}</a></span>  
        {% endfor %}  
    </div>
  </nav>
</header>
<div class="container-fluid" id="logoContainer">
    <div class="text-center" id="logoContainer_Logo">
    {% for image in images %}
      {% if image.category == "Logo Header" %}
        <img src="{{ asset('image/' ~ image.imageName) }}" alt="{{ image.imageAlt }}" id="logoContainer_Logo_Img" >
      {% endif %}
    {% endfor %} 
    </div>
    <div class="text-center logoContainer_Chevron">
        <a href="#serviceContainer"><img src="{{ asset('assets/icons/chevron.png')}}" class="logoContainer_Chevron_Img rounded mx-auto d-block d-none d-sm-block" alt="Chevron vers le bas"></a>
    </div> 
</div>